*{
    margin:0px;
    padding:0px;
}

.header{
    width: 1920px;
    height: 131px;
    background-color: white;
}

.main{
    width: 1920px;
    height: 949px;
    background-color: #EFF1F2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.line{
    display: flex;
    justify-content: space-evenly;
}

.square{
    width: 250px;
    height: 250px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
}